<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
</head>

<body>

    <p class="ease-out duration-75 max-w-lg">{{message}}</p>

    <!-- Page heading -->
    <h1>Login</h1>
    <!-- Login form for user credentials -->
    <form method="POST">
        <label for="username">Username:</label>
        <input class="border border-solid" type="text" id="username" name="username" required>
        <br><br>
        
        <label for="pw">Password:</label>
        <input class="border border-solid" type="password" id="pw" name="pw" required>
        <br><br>
        
        <!-- Submit button to log in -->
        <button type="submit">Login</button>
    </form>

    <!-- Redirect to signup page for users without an account -->
    <p>Don't have an account?</p>
    <form action="/signup">
        <button type="submit">Sign Up</button>
    </form>

</body>

</html>
