<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title> Main Page </title>
</head>

<body class="font-sans bg-sky-50">
    <nav class = "min-w-full block sticky h-20 bg-blue-800 p-6 font-bold"> 
        <div class = "flex text-white float-left text-3xl">
            XAEA69
        </div>

        <form class ="float-right text-white" action="/logout" method = "post">
            <input type="submit" value="Log Out" name="log Out">
        </form>

        <form class ="float-right text-white mr-4" action="/watchlist">
            <input type="submit" value="watchlist" name="watchlist">
        </form>
    </nav>

    <div class="flex justify-self-center gap-4 mt-10">
        {% for name in filters %}
            <form action="/main" method="post">
                <input class = "px-1 py-0.5 border border-black hover:bg-sky-300 hover:border-sky-500 rounded-xl"type="submit" value="{{name}}" name="filter">
            </form>
        {% endfor %}
    </div>
        
    <div class="mx-auto mt-10 max-w-3xl">
        <div class="block mx-auto text-3xl"> Stocks </div>
        <br>
        {% for ticker, data in table.items() %}
            <div class="group grid-cols-2 gap-auto">
                <form action="/main" method="post">
                    <input class="" type="submit" name="watchlist" value="{{ticker}}">
                </form>
                <div class="grid grid-rows-2 grid-cols-2 gap-auto px-8 py-2 group-hover:bg-blue-800 rounded-2xl">
                    <div class="font-bold group-hover:text-white">{{ticker}} </div> 
                    <div class="font-bold group-hover:text-white justify-self-end">{{data.last_sale}} </div>
                    <div class="text-slate-400 truncate group-hover:text-slate-300">{{data.name}}</div>
                    <div class="justify-self-end">
                        {% if data.net_change|float < 0.0 %}
                            <div class="bg-rose-600 border border-rose-600 text-white px-1 py-0.5 rounded-md"> {{data.net_change}} </div>
                        {% elif data.net_change == 'UNCH'%}
                            <div class="bg-white border border-black text-black px-1 py-0.5 rounded-md"> 0 </div>
                        {% else %}
                            <div class="bg-emerald-700 border border-emerald-700 text-white px-1 py-0.5 rounded-md"> {{data.net_change}} </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</body>

<footer class="bg-blue-800 w-full mt-10">
    <div class="w-full p-4">
      <span class="text-sm text-white">© 2024 Made-In-Thailand. All Rights Reserved.</span>
    </div>
</footer>

</html>
