<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Signup</title>
</head>

<body class="font-sans">
  <div class="grid place-content-center space-y-10 ">
      <!-- Display flash messages, if any (e.g., username already exists) -->
      <p class="object-right-bottom ease-out duration-75 max-w-lg bg-red-300">ERROR: {{ message }}</p>

      <!-- Main heading for the signup page -->
      <h1 class="mt-32 text-3xl"> Create an Account! </h1>

      <!-- Signup form for creating a new account -->
      <form class="" method="POST">
        <label for="username">Username:</label>
        <br>
        <input class="border border-solid p-1 min-w-full" type="text" id="username" name="username" placeholder="Username" required>
        <br><br>

        <label for="pw">Password:</label>
        <br>
        <input class="border border-solid p-1 min-w-full" type="password" id="pw" name="pw" placeholder="Password"required>
        <br><br>
        
        <!-- Submit button to create the account -->
        <button class="rounded-2xl mx-auto min-w-full px-5 py-1 transition ease-in-out mt-2 border border-solid px-3 py-2 hover:ring-4 hover:-translate-y-1 hover:scale-110 hover:border-blue-300"type="submit">Create Account</button>
      </form>
      
      <br>

      <h2> Already have an account? <a href ="/login" class="hover:underline text-blue-600"> Log in </a></h2>
  
  </div>

</body>

</html>
